<html lang="en">
    <head>   

        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><![endif]-->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>BitBrno</title>

        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:url" content="">

        <link href="assets/favicons/Favicon.png" rel="shortcut icon" type="image/png" >

        <link href="assets/favicons/Favicon@4x.png" rel="apple-touch-icon" sizes="128x128" />
        <link href="assets/favicons/Favicon@8x.png" rel="apple-touch-icon" sizes="256x256" />

        <link href="assets/favicons/Favicon@4x.png" rel="icon" sizes="128x128" />
        <link href="assets/favicons/Favicon@8x.png" rel="icon" sizes="256x256" />

        <link href="assets/css/style.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="container">

            <div class="board" id="phone">
                <div class="wrapper">

                    <header class="cell">
                        <a href="index.html" class="identity">B⃦itBrno</a>
                    </header>

                    <div class="cell alaticket">
                        <h1 class="calm">Nákup jízdenky &ndash; platba neproběhla</h1>
                        <div class="ticket">
                            <div class="labels">
                                <div class="ticket-name">Brno · Jízdenka 29&thinsp;Kč</div>
                                <div class="ticket-meta">75&nbsp;minut · 2&nbsp;zóny · Mimo vlak</div>
                            </div>
                            <div class="actions">
                                <a href="#" class="action button tertiary crucial">ZRUŠIT</a>
                            </div>
                        </div>
                    </div>

                    <div class="cell labels">
                        <h2 class="loud crucial"><span class="icon icon-circle-cross"></span> Platba nebyla úspěšná</h2>
                    </div>
    
                    <a href="" class="button primary full traversing paybit">Zkusit znovu · 3.20536 mBTC</a>

                    <div class="cell help-contextual">
                        <p>SMS jízdenku dostanete <strong>do 2 minut</strong> po zaplacení.</p>
                        <p>Jízdenka je <strong>platná až po doručení</strong>.</p>
                    </div>

                </div>
            </div>


        </div>

        <script src="assets/js/jquery-2.1.3.min.js"></script>
        <script src="assets/js/piechart/jquery.piechartcountdown.js"></script>
        <script src="assets/js/jquery.bitbrno.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-61301625-1', 'auto');
            ga('send', 'pageview');
        </script>

    </body>
</html>